/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-back: #000000;
    --color-white: #FFFFFF;
    --color-red: #FF0000;
    --color-light-green: #4bc800;
    --color-grey: #222222;
    --color-light-grey: #4a4a4a;
}

/* .debug{
    border: 2px solid var(--color-red);
} */

header, main{
    background-color: var(--color-back);
}

header, footer{
    height: 100px;
}

footer{
    background-color: var(--color-grey);
}

header, main, footer{
    width: 100%;
    margin: 0 auto;
}



/* flex utilities */

.flex{
    display: flex;
}

.justify{
    justify-content: flex-end;
    align-items: flex-start;
}

.f-wrap{
    flex-wrap: wrap;
}

.j-center{
    justify-content: center;
}

/* header */

.text-white{
    color: var(--color-white);
}

.fa-table-cells{
    padding-right: 5px;
}

.lightgrey-box{
    background-color: var(--color-light-grey);
    margin-left: 5px;
    margin-top: 5px;
    padding: 7px;
    border-radius: 5px;
}

/* main */

.main-container{
    padding: 0px 20px 40px 20px;
} 

.card-container{
    width: calc(100vw / 8);
    height: calc(100vw / 8) / 2;
}

.card-box{
    padding: 5px;
}

.p-relative{
    position: relative;
}

.card-img{
    width: 100%;
}

.user-name{
    color: var(--color-white);
    background-color: rgba(74, 74, 74, 0.5);
    position: absolute;
    bottom: 10px;
    left: 5px;
    padding: 5px;
    
}



/* footer */

