/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-back: #000000;
    --color-white: #FFFFFF;
    --color-red: #FF0000;
    --color-light-green: #4bc800;
    --color-grey: #222222;
    --color-light-grey: #4a4a4a;
}

/* .debug{
    border: 2px solid var(--color-red);
} */

header, main{
    background-color: var(--color-back);
}

footer{
    background-color: var(--color-grey);
}

/* flex utilities */

.flex{
    display: flex;
}

.justify{
    justify-content: flex-end;
}

/* header */

.text-white{
    color: var(--color-white);
}

.fa-table-cells{
    padding-right: 5px;
}

.lightgrey-box{
    background-color: var(--color-light-grey);
    margin-left: 5px;
    padding: 7px;
    border-radius: 5px;

}


